    .header_nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(to left, #3f6b8f, #294861);
        background: #3f6b8f;
        color: #eee;
        position: relative;
        z-index: 0;
        overflow: hidden;
        padding: 4rem 5rem;
        box-shadow: 0 4px 6px rgb(0, 0, 0, 0.08);
    }   

    .header_nav::before{
        content: '';
        pointer-events: none;
        display: block;
        width: 100%;
        height: 100%;
        background: url("../img/headerback.png");
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        filter: blur(4px);
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        animation: moveDots 35s linear infinite;
    }

    @keyframes moveDots {
        0% {
            background-position: 0 0, 50px 50px;
        }
        100% {
            background-position: 300px 300px, 350px 350px;
        }
    }


    .header_nav a{
        color: #eee;
    }

    header{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
    }

    header h1{
        margin-left: 5rem;
    }

    /* LOGO */
    header img{
        width: 7rem;
        position: absolute;
        left: 2%;
    }

    nav{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }

    nav a{
        text-wrap: nowrap;
    }

    @media (max-width: 650px)
    {
        .header_nav{
            flex-direction: column;
        }

        header{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
        }

        header h1{
            margin: 0;
        }

        header img{
            position: relative;
            width: 40%;
        }

        nav{
            margin: 5rem 0 0 0;
            flex-direction: column;
        }
    }